* {
    box-sizing: border-box;   
}

body {
    background-color: #08001A;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wrapper {
    margin: auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 5em;
    text-decoration: underline darkblue;
}

section {
    overflow: auto;
    width: 100%;
}

#opacity {
    position: absolute;
    background: linear-gradient(
        to bottom, 
        #FFFFFF00 0%, 
        #08001Aff 68% 100%);
    width: 78vw;
    height: 54%;
    pointer-events: none;
}

li {
    font-size: 4em;
    margin-bottom: 1.6em;
    height: 200px;
    text-decoration: none;
    list-style: none;
}

a {
    color: whitesmoke;
}

a:hover {
    color: lightgrey;
    text-decoration: underline blue;
}